@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&subset=cyrillic");
html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/texture.png);
  font-family: 'Montserrat', sans-serif; }

.heading {
  position: relative; }
  .heading:after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 50%;
    top: 45%;
    left: 45%;
    background-color: rgba(185, 27, 27, 0.4); }

a {
  text-decoration: none;
  color: #fff; }

.wrapper {
  padding: 30px;
  background: linear-gradient(90deg, #d6d3d3 1%, transparent 1%) 1px 0, transparent;
  background-size: 200px 1px;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 200px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(76, 73, 73, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(76, 73, 73, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(76, 73, 73, 0.75); }

h1,
h2 {
  font-family: 'Libre Baskerville', serif;
  color: #43413d;
  text-align: center;
  text-transform: uppercase; }

p {
  color: #615d5d; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: 2000; }
  .preloader:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #d4d0d0;
    transition: 1s; }
  .preloader.complete:before {
    left: -50%; }
  .preloader:after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #d4d0d0;
    transition: 1s; }
  .preloader.complete:after {
    right: -50%; }
  .preloader .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgba(109, 178, 255, 0.7);
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000; }
  .preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
    .preloader.complete .loader {
      display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.name {
  font-size: 70px;
  text-transform: none;
  letter-spacing: .1em;
  text-align: left; }

.footer {
  height: 200px;
  width: 100%;
  padding: 30px;
  background: #ccc url(../img/texture.png);
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: -1; }
  .footer a {
    color: #43413d; }
  .footer .social-bar {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer svg {
    height: 48px;
    width: 48px; }
    .footer svg path {
      fill: #43413d; }
    .footer svg:hover path {
      fill: #8c8b89; }

.lang {
  color: #43413d;
  position: absolute;
  top: 30px;
  left: 90px;
  z-index: 5; }
  .lang a {
    color: #43413d;
    text-decoration: none; }

.headlines {
  display: flex;
  padding: 0; }
  .headlines li {
    list-style-type: none;
    font-size: 30px;
    color: #43413d;
    font-family: 'Libre Baskerville', serif;
    padding-right: 40px;
    position: relative; }
    .headlines li:before {
      content: "";
      display: block;
      position: absolute;
      left: -25px;
      top: 54%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: #c72020;
      border-radius: 50%; }
    .headlines li:first-child:before {
      content: none; }

.main {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  min-height: 91vh;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.content {
  width: 100%; }

.menu-container {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  top: 0;
  pointer-events: none; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transition-delay: 0.5s;
  visibility: hidden; }

.menu ul li {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  color: #62605c;
  min-height: 45px;
  padding: 15px;
  text-align: center;
  list-style-type: none; }

.menu ul li a {
  cursor: pointer;
  color: #43413d;
  text-decoration: none;
  position: relative; }
  .menu ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #43413d;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear; }
  .menu ul li a:hover:before, .menu ul li a:focus:before {
    visibility: visible;
    transform: scaleX(1); }

.menu-sliders {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.45s; }

.menu-sliders:nth-child(2) {
  flex: 1 0 100%;
  background: transparent; }

.menu-sliders:nth-child(odd) {
  background: #eee;
  background-image: url(../img/texture.png); }

.plus-btn-pos {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5; }

.plus-btn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #948f8f;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer; }

.plus-btn div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  background: #dce4ea;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transition-delay: 0.5s; }

.plus-btn .r1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg); }

.plus-btn .r2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
  transform: translateX(-50%) translateY(-50%) rotate(-180deg); }

.plus-btn:hover {
  background: #948f8f; }

.plus-btn:hover div {
  background: white; }

.plus-btn:active {
  box-shadow: none; }

body.menu-open .menu-sliders:nth-child(2) {
  flex: 0 0 0%; }

body.menu-open .menu {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  pointer-events: all; }

body.menu-open .plus-btn .r1 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg); }

body.menu-open .plus-btn .r2 {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  transform: translateX(-50%) translateY(-50%) rotate(-135deg); }

#form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto; }
  #form button {
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 50%;
    cursor: pointer; }

@media (max-width: 768px) {
  .name {
    font-size: 32px; }

  .headlines {
    flex-direction: column;
    padding-left: 26px;
    margin: 20px 0; }
    .headlines li {
      font-size: 20px; }
      .headlines li:first-child:before {
        content: ""; }
      .headlines li:before {
        width: 10px;
        height: 10px; } }
@media (max-width: 425px) {
  .footer h2 {
    font-size: 1.2rem; } }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.the-arrow {
  width: 64px;
  transition: all 0.2s; }
  .the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0; }
    .the-arrow.-left > .shaft {
      width: 0;
      background-color: #999; }
      .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
        width: 0;
        background-color: #999; }
      .the-arrow.-left > .shaft:before {
        transform: rotate(0); }
      .the-arrow.-left > .shaft:after {
        transform: rotate(0); }
  .the-arrow.-right {
    top: 3px; }
    .the-arrow.-right > .shaft {
      width: 64px;
      transition-delay: 0.2s; }
      .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
        width: 8px;
        transition-delay: 0.3s;
        transition: all 0.5s; }
      .the-arrow.-right > .shaft:before {
        transform: rotate(40deg); }
      .the-arrow.-right > .shaft:after {
        transform: rotate(-40deg); }
  .the-arrow > .shaft {
    background-color: #999;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform; }
    .the-arrow > .shaft:before, .the-arrow > .shaft:after {
      background-color: #999;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.2s;
      transition-delay: 0; }
    .the-arrow > .shaft:before {
      transform-origin: top right; }
    .the-arrow > .shaft:after {
      transform-origin: bottom right; }

.animated-arrow {
  display: inline-block;
  color: #999;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s; }
  .animated-arrow:hover {
    color: #999; }
    .animated-arrow:hover > .the-arrow.-left > .shaft {
      width: 64px;
      transition-delay: 0.1s;
      background-color: #999; }
      .animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
        width: 8px;
        transition-delay: 0.1s;
        background-color: #999; }
      .animated-arrow:hover > .the-arrow.-left > .shaft:before {
        transform: rotate(40deg); }
      .animated-arrow:hover > .the-arrow.-left > .shaft:after {
        transform: rotate(-40deg); }
    .animated-arrow:hover > .link {
      transform: translateX(80px); }
      .animated-arrow:hover > .link > .the-arrow.-right > .shaft {
        width: 0;
        transform: translateX(200%);
        transition-delay: 0; }
        .animated-arrow:hover > .link > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .link > .the-arrow.-right > .shaft:after {
          width: 0;
          transition-delay: 0;
          transition: all 0.1s; }
        .animated-arrow:hover > .link > .the-arrow.-right > .shaft:before {
          transform: rotate(0); }
        .animated-arrow:hover > .link > .the-arrow.-right > .shaft:after {
          transform: rotate(0); }
  .animated-arrow > .link {
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .animated-arrow > .link > .text {
      margin: 0 16px 0 0;
      line-height: 1; }
    .animated-arrow > .link > .the-arrow {
      position: relative; }

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards; }

.animate-first {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms; }

.animate-second {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.animate-third {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.animate-fourth {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/*# sourceMappingURL=style.css.map */
