textarea:focus, input:focus {
  outline: none; }

html, body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: auto; }

::-moz-selection {
  background: #dc2d29;
  color: #fff; }

::selection {
  background: #dc2d29;
  color: #fff; }

.d-flex {
  display: flex; }

.d-block {
  display: block !important; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

input[type="submit"]:disabled {
  background: #ccc; }

@-webkit-keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInUpShort {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUpShort {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px); }

.fadeInUpShort.go {
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort; }

a {
  color: #0056ec; }
  a:hover {
    text-decoration: none;
    color: #dc2d29; }

footer svg:hover path {
  fill: #dc2d29; }

.back {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none; }

.form {
  position: fixed;
  z-index: 300;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 40px;
  display: none;
  width: 395px;
  min-height: 394px; }
  .form input {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    transition: border-bottom-color .3s ease; }
    .form input:focus {
      border-bottom: 1px solid #0056ec; }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .form__error {
    color: #dc2d29;
    font-size: 14px;
    min-height: 21px; }
  .form__label {
    color: #0056ec; }

.error {
  border-bottom: 1px solid #dc2d29 !important; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
  padding: 15px;
  background: #fff;
  overflow: hidden;
  padding-left: calc(15% + 15px); }

.header {
  justify-content: space-between;
  flex-wrap: wrap; }
  .header__logo {
    font-size: 50px;
    font-weight: 700; }
    .header__logo #logo {
      width: 100%;
      max-width: 300px; }

.main {
  justify-content: center;
  position: relative;
  z-index: 100; }

.footer {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.block {
  position: fixed;
  width: 15%;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background: url(../img/back-4.png);
  -webkit-box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.5); }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(359deg); } }

@-moz-keyframes rotation {
  from {
    -webkit-transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(359deg); } }

.text {
  position: fixed;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  right: 2%;
  bottom: 100px;
  z-index: 50;
  background: url("../img/text.svg") 50% no-repeat;
  background-size: cover;
  -webkit-animation: rotation 20s infinite linear;
  animation: rotation 20s infinite linear; }

.contacts {
  justify-content: space-between; }
  .contacts div {
    margin: 0 10px; }

.socials a {
  margin: 0 20px; }

.btn {
  display: block;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #dc2d29; }

.info {
  position: relative;
  z-index: 3000;
  max-width: 50%; }
  .info__title {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 20px; }
  .info__subtitle {
    font-family: 'Roboto', sans-serif;
    color: #dc2d29; }
  .info__list li {
    color: #dc2d29; }
    .info__list li span {
      color: #212529; }
  .info__tags {
    font-size: 20px;
    color: #0056ec; }
  .info__btn {
    margin-top: 40px; }

@media (max-width: 1366px) {
  .info {
    max-width: 60%; }
    .info__title {
      font-size: 30px; } }

@media (max-width: 992px) {
  .info {
    max-width: 80%; } }

@media (max-width: 768px) {
  .block {
    width: 5%; }
  .wrapper {
    padding-left: calc(5% + 15px); }
  .header {
    flex-direction: column; }
    .header__logo {
      text-align: center;
      position: relative;
      z-index: 100;
      margin: 40px 0;
      order: 1; }
  .main {
    justify-content: center; }
  .info {
    max-width: 100%; }
    .info__title {
      text-align: center; }
    .info__subtitle {
      text-align: center; }
    .info__tags {
      margin-top: 40px;
      display: flex;
      flex-direction: column; }
    .info__btn {
      margin: 40px auto; }
  .footer__box {
    margin: 20px 0; } }

@media (max-width: 576px) {
  .info__title {
    font-size: 26px; }
  .info__subtitle {
    font-size: 20px; }
  .text {
    display: none; }
  .contacts {
    order: -1;
    width: 100%; }
    .contacts div {
      margin: 0; }
  .footer {
    flex-direction: column; }
    .footer__box {
      margin: 10px 0; }
  .form {
    width: 90%; } }
