@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

html, body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: auto; }

input {
  border: none;
  border-bottom: 1px solid #0056ec; }

::-moz-selection {
  background: #C2FFFB; }

::selection {
  background: #C2FFFB; }

.d-flex {
  display: flex; }

.d-block {
  display: block !important; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

input[type="submit"]:disabled {
  background: #ccc; }

@-webkit-keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInUpShort {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUpShort {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px); }

.fadeInUpShort.go {
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort; }

a {
  color: #0056ec; }
  a:hover {
    text-decoration: none;
    color: #ef832c; }

svg:hover path {
  fill: #ef832c; }

.back {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none; }

.form {
  position: fixed;
  z-index: 300;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 40px;
  display: none;
  min-width: 300px; }
  .form__wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .form__error {
    color: #ec4e00;
    font-size: 14px; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
  padding: 15px;
  background: #fff; }

.illustration {
  position: absolute;
  background: url("../img/background.svg") no-repeat 100% 50%;
  background-size: contain;
  width: 600px;
  height: 500px;
  right: 0;
  right: 125px;
  z-index: 11;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.9s cubic-bezier(0.56, 0.68, 0.72, 0); }

.header {
  justify-content: space-between;
  flex-wrap: wrap; }
  .header__logo {
    font-size: 50px;
    font-weight: 700; }

.main {
  justify-content: flex-start;
  position: relative;
  z-index: 100; }

.footer {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

#content {
  width: 100%; }

.contacts {
  justify-content: space-between; }
  .contacts div {
    margin: 0 10px; }

.socials a {
  margin: 0 20px; }

.btn {
  display: block;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient(-45deg, #ef832c, #E73C7E);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; }

.info {
  position: relative;
  z-index: 3000; }
  .info__title {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 40px; }
  .info__list li {
    color: #E73C7E; }
    .info__list li span {
      color: #212529; }
  .info__text {
    max-width: 700px; }
  .info__tags {
    font-size: 20px; }
  .info__btn {
    margin-top: 40px; }

.morph-wrap {
  position: absolute;
  top: 25%;
  right: 0;
  right: -225px;
  right: -100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
  transition: all 0.9s cubic-bezier(0.56, 0.68, 0.72, 0); }

.morph {
  position: relative;
  height: 100%;
  fill: #C2FFFB;
  flex: none; }

@media (max-width: 1200px) {
  .illustration {
    width: 500px;
    height: 400px;
    right: 60px; }
  .morph-wrap {
    right: -300px; } }

@media (max-width: 992px) {
  .illustration {
    width: 400px;
    height: 300px;
    right: 0; }
  .morph-wrap {
    right: -500px; }
  .info__text {
    max-width: 500px; } }

@media (min-width: 768px) {
  .info__text {
    max-width: 50%; } }

@media (max-width: 768px) {
  .illustration {
    display: none; }
  .morph-wrap {
    right: 50%;
    transform: translateX(50%); }
  .header__logo {
    margin: 40px 0; }
  .main {
    justify-content: center; }
  .info__title {
    text-align: center; }
  .info__title {
    font-size: 30px; }
  .info__tags {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
  .info__btn {
    margin: 40px auto; }
  .footer div {
    margin: 20px 0; } }

@media (max-width: 576px) {
  .header {
    flex-direction: column; }
    .header__logo {
      text-align: center;
      position: relative;
      z-index: 100; }
  .contacts {
    order: -1;
    width: 100%; }
    .contacts div {
      margin: 0; }
  .footer {
    flex-direction: column; }
    .footer > div {
      margin: 4px 0; } }
